  .card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
  }
  .card-registration .select-arrow {
    top: 13px;
  }
  
  .gradient-custom-2 {
    background-color: white;
  }
  
  .bg-indigo {
    background-color: #4bef;
  }
  @media (min-width: 992px) {
    .card-registration-2 .bg-indigo {
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
    }
  }
  @media (max-width: 991px) {
    .card-registration-2 .bg-indigo {
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
    }
  }
  
  .devisMain{
    
    border: 1px solid rgb(218, 216, 216);
    margin: auto;
    border-radius: 15px;
  }

  .devisLeft{
    width: 50%;
  }
  .devisRight{
    width: 50%;
  }
  .devisContainer{
    display:flex;
  }

  .generer{
    display: flex;
    justify-content: center;
  }